<% include partials/header %>

<div class="container">
    <header class="jumbotron" style="background: rgb(185, 60, 60);">
        <h1 style="color: white; text-align: center;">TSF Phase 2 Task - RestAPI</h1>
    </header>
</div>
<div class="container">
    <div>
        <a href="/new" class="btn btn-lg btn-success">Create Student</a>
    </div>
    <br>
    <div>
        <a href="/view" class="btn btn-lg btn-primary">View Students</a>
    </div>
</div>
<% include partials/footer %>